.header {
  background-color: $FuzzyWuzzy;
  padding: $medium;
  text-align: right;
}

.navigation {
  padding: 0 104px;
}

.header__logo {
  padding-top: 8px;
  width: 78px;
  float: left;
}

.navigation__list {
}

.navegation__item {
  font-family: $roboto;
  font-size: $medium;
  padding: 6px;
  display: inline-block;
}

.navegation__enlace {
  text-decoration: none;
  color: $White;
}
