
*{
    font-family: 'Maven Pro', sans-serif;
}

#main #profile {
    
 
  
}

#main #profile img{
    border-radius: 50%;
   


}

#videos *  {
    padding:4px;
}

#main{
    background: #eee;
    padding: 32px;
}

