// Color Scheme
$white: #fff;
$Isabelline:#ECECEC;
$Lightgray:#D1D1D1;
$Smokyblack:#0C0910;
$Granitegray:#646266;
$Quicksilver:#A6A5A8;


//Font Family

$oldstandard: 'Old Standard TT', Arial;
$raleway: 'Raleway', Arial;

// Typography

$bold: 700;
$regular: 400;

// Font Sizes
$xxx-large: 50px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;   
$x-small: 12px;


