.logo {
	font-size: $logo-texto-size;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	position: absolute;
	left: 16px;
	top: 16px;
}

.nav {
	text-align: right;
	padding: 8px;
}

.nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
}

.nav ul li {
	display: inline-block;
}
