//colors Scheme
$White: #fff;
$Platinum: #e6e7e7;
$Lightgray: #d1d1d1;
$FuzzyWuzzy: #121619;
$Raisinblack: #222323;
$Nickel: #6c6e70;
$Ruddypink: #d76c69;
$Colornose: #d76c69b2;

$playfair: "Playfair Display", serif;
$roboto: "Roboto", sans-serif;

$regular: #400;
$italic: #400;
$light: #300;

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
 

