.main {
}

.encabezado {
  text-align: center;
  padding: 32px;
  background-image: url(../img/post-image.jpg);
  background-size: 100%;
}

.encabezado__titulo {
  color: $White;
  font-style: $italic;
  font-size: $xx-large;
  font-family: $playfair;
}

.encabezado__avanzar {
}

.encabezado__img-avanzar {
}

.contenido {
  padding: 0 104px;
}

.contenido__fecha {
  font-family: $playfair;
  font-size: $large;
  margin-top: 70px;
  margin-bottom: 70px;
}

.contenido__cuerpo {
  font-family: $roboto;
  font-size: $medium;
}

.contenido__parrafo {
}

.contenido__enlace {
  color: $Ruddypink;
}

.contenido__botones {
  margin: 72px 0;
}

.contenido__boton {
  background: $Nickel;
  padding: $small;
  border: none;
  border-radius: 18px;
  color: $White;
  font-family: $roboto;
  font-size: $medium;
  margin: 2px;
}

.autor {
  margin: 70px 104px;
  @include centrar-horizontal-vertical;
  font-family: $roboto;
  font-size: 14px;
}

.autor__foto {
  float: left;
  width: 177px;
  border-radius: 50%;
}

.autor__redes {
  float: left;
  padding: 32px;
  width: 177px;
}

.autor__nombre {
  font-family: $playfair;
  font-style: $italic;
  font-size: $x-large;
  padding: 0;
  margin: 4px;
}

.autor__enlace {
  color: $Colornose;
  font-family: $roboto;
  text-decoration: none;
  font-size: 20px;
  padding: 0;
  margin: 4px;
  display: block;
}

@media screen and (max-width: 720px) {
  .autor__descripcion {
    display: none;
  }
  .autor__redes {
    float: none;
    display: block;
  }
  .autor__foto {
    float: none;
    display: block;
  }
}

.paginacion {
  background: $Platinum;
  text-align: center;
  padding: 48px 104px;
}

.paginacion__enlace-izquierda {
  text-decoration: none;
  color: $FuzzyWuzzy;
  font-family: $roboto;
  font-size: $medium;
  background: $White;
  border: 0;
  margin: 0;
  padding: 6px;
  outline: none;
  border-radius: 12px 0 0 12px;
}

.paginacion__enlace {
  text-decoration: none;
  color: $FuzzyWuzzy;
  font-family: $roboto;
  font-size: $medium;
  background: $White;
  border: 0;
  margin: 0;
  padding: 6px 10px;
  outline: none;
}

.paginacion__enlace-seleccionado {
  background: $Nickel;
  color: $White;
}

.paginacion__enlace-nodisponible {
  color: #777777;
}

.paginacion__enlace-derecha {
  text-decoration: none;
  color: $Raisinblack;
  font-family: $roboto;
  font-size: $medium;
  background: $White;
  border: 0;
  margin: 0;
  padding: 6px;
  outline: none;
  border-radius: 0 12px 12px 0;
}
