.newsletter{

    background-color: $Smokyblack;
    padding-left: 44px;
    width: 400px;
    height: 600px;
}

.newsletter__title{
    color: $white;
}

.newsletter__paragraph{
    color: $white;

}
