.newsletter__subscription{
    display: inline-block;
    position: absolute;
    left: 27%;
    transform: rotate(90deg);
    font-family: $oldstandard;
    font-size: $x-large;
    font-weight: $bold;
}