nav {
	display: flex;
	justify-content: flex-end;
}

.nav-logo {
	align-self: start;
	flex: auto;
}

.nav-items {
	display: table;
}

.nav-link,
.nav-toggle {
	display: table-cell;
	vertical-align: middle;
	padding: 8px;
	color: $white;
	font-family: $ubuntu;
	text-decoration: none;
}

.nav-toggle {
	display: none;
}
